.header-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    background-size: cover; 
    background-position: center; 
    color: black; 
    text-align: center;
    width: 100%;
    font-size: 48px;
}

.container-checkout {
    background-color: rgb(255, 255, 225);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-group {
    display: flex;
    margin-bottom: 15px;
}

.input-group-text {
    padding: 8px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-label {
    margin-left: 5px;
}

.checkout-btn {
    color: white;
    background-color: rgb(119, 158, 85);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2em;
}

.checkout-btn:hover {
    background-color: rgb(139, 178, 105);
}

.invalid-feedback {
    color: red;
    font-size: 0.85em;
}



